<template>
    <h4 class="text-center">{{ title }}</h4>
    <Toast />
    <div v-if="weatherLists.length>0" class="d-flex justify-content-center">
        <Card v-for="(list, index) in weatherLists" @mouseover="hover(index)"
              :style="{'width':100/weatherLists.length+'%'}"
              @mouseleave="lefthover(index)">
            <template #header v-if="list.api">
                <Button icon="pi pi-times" v-if="list.showDeleteBtn"  @click="remove(index)" class="p-button-rounded p-button-danger p-button-text" />
                <img  :src="'http://openweathermap.org/img/wn/' + list.api.weather[0].icon+'@2x.png'" style="height: 15rem" />

            </template>
            <template #title v-if="list.api">
                {{list.api.name}}
            </template>
            <template #subtitle v-if="list.api">
                {{list.api.weather[0].main}}
            </template>
            <template #content v-if="list.api">
                temperature : {{list.api.main.temp}}<br>
                humidity : {{list.api.main.humidity}}<br>
                wind : {{list.api.wind.speed}}<br>
            </template>
        </Card>
    </div>

    <div class="mt-5 d-flex justify-content-center">
        <div class="col-2">
            <InputText type="text" v-model="newCity" placeholder="City Name" />
        </div>
        <div class="col-2">
            <Dropdown v-model="selectedInterval" :options="intervals" optionLabel="name" optionValue="value" placeholder="Select a Interval" />
        </div>
        <Button label="Add" @click='add' class="p-button-outlined col-1" />
    </div>

</template>
<script>
import { reactive, onMounted, toRefs, defineComponent } from "vue";
import Dropdown from 'primevue/dropdown';
import Card from 'primevue/card';
import Button from 'primevue/button';
import InputText from 'primevue/inputtext';
import Toast from 'primevue/toast';
import { useToast } from "primevue/usetoast";
export default defineComponent({
    name: "weatherList",
    props: {
        weathers:{
            required: true
        },
        keys:{
            required: true
        },

    },
    components: {
        Card,
        Button,
        InputText,
        Dropdown,
        Toast
    },
    setup(props) {
        const toast = useToast();
        const state = reactive({
            title: 'Weather forecast',
            weatherLists:JSON.parse(props.weathers),
            newCity: null,
            limit:5,
            selectedInterval:null,
            intervals: [
                {name: '1 second', value: 1000},
                {name: '15 second', value: 15000},
                {name: '30 second ', value: 30000},
            ]
        });

        /**
         * Trigger during mount the component.
         * Populate field with existing data.
         */
        onMounted(async () => {
            await getList();
            fetchWeather();
            intervalFetchData();
        });

        const getList = async () => {
            const result = await axios.get('/list');
            return result.data.data;
        }

        const getAPI = async (city) => {
            const result = await axios.get('https://api.openweathermap.org/data/2.5/weather?q='+city+'&appid='+props.keys)
            return result.data;
        }

        const fetchWeather = () => {
            $.each(state.weatherLists, async function (key, value) {
                value.showDeleteBtn = false;
                value.api = await getAPI(value.city);
            });
        }

        const intervalFetchData = () => {
            $.each(state.weatherLists, function (key, value) {
                 setInterval(async () => {
                    value.api = await getAPI(value.city);
                }, value.interval);
            });

        }

        const hover = (index) => {
            state.weatherLists[index].showDeleteBtn = true;
        }

        const lefthover = (index) => {
            state.weatherLists[index].showDeleteBtn = false;
        }

        const remove = (index) => {
            // update db
            axios.post('/remove', {
                city: state.weatherLists[index].api.name,
            }).then((response) => {
                state.weatherLists.splice(index, 1);
                toast.add({severity:'success', summary: 'Success', detail:'removed successfully', life: 3000});
            }).catch((error) => {
                toast.add({severity:'error', summary: 'Error', detail:error, life: 3000});
            });
        }

        const add = () => {
            if(state.weatherLists.length>=state.limit){
                toast.add({severity:'error', summary: 'Error', detail:'over the display limit', life: 3000});
                return ;
            }
            if(!state.selectedInterval||!state.newCity){
                toast.add({severity:'error', summary: 'Error', detail:'please select an interval and input new city', life: 3000});
                return ;
            }
            axios.get('https://api.openweathermap.org/data/2.5/weather?q='+state.newCity+'&appid='+props.keys).then((response) => {
                if(response.data.cod==200){
                    // add in db
                    let data = response.data
                    axios.post('/addnew', {
                        city: response.data.name,
                        interval: state.selectedInterval,
                    }).then((response) => {
                        let newData = response.data.data;
                        newData.showDeleteBtn = false;
                        newData.api = data;
                        state.weatherLists.push(newData);
                        state.newCity = null;
                        state.selectedInterval= null;
                        toast.add({severity:'success', summary: 'Success', detail:'new city added in the list', life: 3000});
                    }).catch((error) => {
                        toast.add({severity:'error', summary: 'Error', detail:error, life: 3000});
                    });
                }else{
                    toast.add({severity:'error', summary: 'Error', detail:response.data.message, life: 3000});
                }
            }).catch((error) => {
                toast.add({severity:'error', summary: 'Error', detail:error, life: 3000});
            });
        }

        return {
            ...toRefs(state),
            getList,
            fetchWeather,
            getAPI,
            intervalFetchData,
            hover,
            lefthover,
            remove,
            add
        }
    }
})
</script>



